<div id="mainQuestionList">
  <div class="questionListTitle">
    Questions
  </div>
  <ng-container *ngIf="questionnaire != undefined">
    <div class="mainQuestList">
      <ng-container *ngFor="let question of questionnaire.questions">
        <ng-container *ngIf="question.isLoaded != undefined && question.isLoaded == true">
          <div class="questionnaireLabel"><p>{{question.name.value}}</p></div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>

<div id="mainQuestion">
  <question-launch #question *ngIf="selectedQuestion != undefined" [question]="selectedQuestion"></question-launch>
</div>
