<div id="mainQuestHeader">
  <ng-container *ngIf="questionnaire != undefined">
    <div style="float: left;">
      <span class="questionnaireNameLabel">{{questionnaire.name.value}}</span>
    </div>

    <div *ngIf="selectedLancement != undefined">
      <span class="questionnaireNameLabel"> Lancement du {{selectedLancement.date}}</span>
    </div>

    <div style="float: left;">
      <button [routerLink]="['/launch', questionnaire.id]">Lancer</button>
    </div>

    <div style="float: left;">
      <button [routerLink]="['/dashboard']" >Retour à l'édition</button>
    </div>
  </ng-container>
</div>
