<div id="mainQuestHeader">
  <ng-container *ngIf="questionnaire != undefined">
    <div class="saveArea">
      <div class="element element1">
    <span *ngIf="questionnaire.name.isModeEdit == undefined || questionnaire.name.isModeEdit == false"
          class="questionnaireNameLabel">{{questionnaire.name.value}}</span>
      </div>
      <div class="element element2">
        <input *ngIf="questionnaire.name.isModeEdit == true" type="text" [(ngModel)]="questionnaire.name.value">
      </div>
      <div class="element element3">
        <div *ngIf="questionnaire.name.isModeEdit == undefined || questionnaire.name.isModeEdit == false"
             class="img editButton">
          <img class="classLogo" (click)="questionnaire.name.isModeEdit = true" src="assets/img/edit.svg">
        </div>
      </div>
      <div class="element element4">
        <div *ngIf="questionnaire.name.isModeEdit == true" class="img saveButton">
          <img class="classLogo" (click)="questionnaire.name.isModeEdit = false"
               src="assets/img/save.svg">
        </div>
      </div>
    </div>
    <div class="element element5">
      <div class="img deleteButton">
        <img class="classLogo" (click)="deleteQuestionnaire()" src="assets/img/delete.svg">
      </div>
    </div>
    <div class="element element6">
      <div class="img launchButton">
        <img class="classLogo" [routerLink]="['/launch', questionnaire.id]" src="assets/img/launch.svg">
      </div>
    </div>
    <div class="element element7">
      <div class="img statsButton">
        <img class="classLogo" [routerLink]="['/stats', questionnaire.id]" src="assets/img/stats.svg">
      </div>
    </div>
    <div class="element element8">
      <p class="timerLabel">Timer :</p>
    </div>
    <div class="element element9">
    <span *ngIf="questionnaire.timer.isModeEdit == undefined || questionnaire.timer.isModeEdit == false"
          class="questionnaireTimerLabel">{{questionnaire.timer.value}}</span>
    </div>
    <div class="element element10">
      <input *ngIf="questionnaire.timer.isModeEdit == true" type="number" [(ngModel)]="questionnaire.timer.value">
      <p class="secondTimer">s</p>
    </div>
    <div class="element element11">
      <div *ngIf="questionnaire.timer.isModeEdit == undefined || questionnaire.timer.isModeEdit == false"
           class="img editButton">
        <img class="classLogo editTime" (click)="questionnaire.timer.isModeEdit = true" src="assets/img/edit.svg">
      </div>
    </div>
    <div class="element element12">
      <div *ngIf="questionnaire.timer.isModeEdit == true" class="img deleteButton">
        <img class="saveLogo" (click)="questionnaire.timer.isModeEdit = false" src="assets/img/save.svg">
      </div>
    </div>
  </ng-container>
</div>
