#mainQuestHeader {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #544E71;
  border: black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexHeaderQuestTitle, .flexTimer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.element {
  width: auto;
  height: auto;
  margin: 0;
  display: flex;
  color: ghostwhite;
  font-size: large;
}

.secondTimer {
  margin-left: -9px;
  width: auto;
  height: auto;
}

.element1 {
  height: auto;
  font-size: x-large;
  align-items: center;
  justify-content: right;
  width: 200px;
  font-weight: bold;
}

.saveArea {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.element1, .saveArea, .element5, .element6, .element9, .secondTimer {
  margin-right: 10px;
  width: auto;
  height: auto;
}

.element7 {
  width: auto;
  height: auto;
  margin-right: 50px;
}

.img {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: dimgrey;
  margin-left: 10px;
  border-radius: 15%;
}

img {
  width: 40px;
  height: auto;
}
.launchButton{
  background: white;
}
.deleteButton{
  background: #d44949;
}
.statsButton{
  background: orange;
}
.editButton{
  background: royalblue;
}
