<div id="mainQuestHeader">
  <button (click)="stopLaunch()">STOP</button>
  <ng-container *ngIf="questionnaire != undefined">
    <div class="saveArea">
      <div class="element element1">
        <span *ngIf="questionnaire.nameModeEdit == undefined || questionnaire.nameModeEdit == false"
              class="questionnaireNameLabel">{{questionnaire.name}}</span>
      </div>
      <div class="element element2">
        <input class="questionTitleInput" *ngIf="questionnaire.nameModeEdit == true" type="text" [(ngModel)]="questionnaire.name">
      </div>
      <div class="element element3">
        <div *ngIf="questionnaire.nameModeEdit == undefined || questionnaire.nameModeEdit == false"
             class="img editButton">
          <img class="classLogo" (click)="questionnaire.nameModeEdit = true" src="assets/img/edit.svg">
        </div>
      </div>
      <div class="element element4">
        <div *ngIf="questionnaire.nameModeEdit == true" class="img saveButton">
          <img class="classLogo" (click)="questionnaire.nameModeEdit = false; onChange()"
               src="assets/img/save.svg">
        </div>
      </div>
    </div>
    <div class="element element5">
      <div class="img deleteButton">
        <img class="classLogo" (click)="deleteQuestionnaire()" src="assets/img/delete.svg">
      </div>
    </div>
    <div class="element element6">
      <div class="img launchButton">
        <img class="classLogo" (click)="goToLaunchPage()" src="assets/img/launch.svg">
      </div>
    </div>
    <div class="element element7">
      <div class="img statsButton">
        <img class="classLogo" [routerLink]="['/stats', questionnaire.getId()]" src="assets/img/stats.svg">
      </div>
    </div>
    <div class="element element8">
      <p class="timerLabel">Timer : </p>
    </div>
    <div class="element element9">
    <span *ngIf="questionnaire.timerModeEdit == undefined || questionnaire.timerModeEdit == false"
          class="questionnaireTimerLabel">{{questionnaire.timer}}</span>
    </div>
    <div class="element element10">
      <input class="inputTimerHead" *ngIf="questionnaire.timerModeEdit == true" type="number" [(ngModel)]="questionnaire.timer">
      <p class="secondTimer">s</p>
    </div>
    <div class="element element11">
      <div *ngIf="questionnaire.timerModeEdit == undefined || questionnaire.timerModeEdit == false"
           class="img editButton">
        <img class="classLogo editTime" (click)="questionnaire.timerModeEdit = true" src="assets/img/edit.svg">
      </div>
    </div>
    <div class="element element12">
      <div *ngIf="questionnaire.timerModeEdit == true" class="img saveButton">
        <img class="saveLogo" (click)="questionnaire.timerModeEdit = false; onChange()" src="assets/img/save.svg">
      </div>
    </div>

    <div class="element element8">
      <p class="timerLabel">Delai question suivante : </p>
    </div>
    <div class="element element9">
    <span *ngIf="questionnaire.delayModeEdit == undefined || questionnaire.delayModeEdit == false"
          class="questionnaireTimerLabel">{{questionnaire.autoplayTimeout}}</span>
    </div>
    <div class="element element10">
      <input class="inputTimerHead" *ngIf="questionnaire.delayModeEdit == true" type="number" [(ngModel)]="questionnaire.autoplayTimeout">
      <p class="secondTimer">s</p>
    </div>
    <div class="element element11">
      <div *ngIf="questionnaire.delayModeEdit == undefined || questionnaire.delayModeEdit == false"
           class="img editButton">
        <img class="classLogo editTime" (click)="questionnaire.delayModeEdit = true" src="assets/img/edit.svg">
      </div>
    </div>
    <div class="element element12">
      <div *ngIf="questionnaire.delayModeEdit == true" class="img saveButton">
        <img class="saveLogo" (click)="questionnaire.delayModeEdit = false; onChange()" src="assets/img/save.svg">
      </div>
    </div>
  </ng-container>
</div>
