<div id="mainQuestionList">
  <div class="lancementList">
    Mes lancements
  </div>
  <div class="lancementListBody">
    <ng-container *ngIf="questionnaire != undefined">
      <ng-container *ngFor="let lancement of questionnaire.lancements">
        <div class="singleQuestion">
          <div class="hoverQuestion" (click)="selectLancement(lancement)">
            <span class="questionnaireLabel">{{lancement.created | date:'medium'}}</span>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<div id="mainQuestion">
  <questions-stat #questions *ngIf="selectedLancement != undefined" [lancement]="selectedLancement"></questions-stat>
</div>
