::ng-deep * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
:host {
  height: 100%;
  width: 100%;
  position: absolute;
}
header{
  height: 10%;
}
question-list-launch{
  display: flex;
  height: 80%;
  width: 100%;
}
