<script src="path/to/angular.js"></script>
<script src="path/to/angular-messages.js"></script>
<div class="bodyFlex">
  <h1 class="loginPageTitle">Bienvenue sur SMS-Vote</h1>
  <div class="loginRegisterMenu">
    <div class="loginFlex">
      <h2 class="loginMenuTitle">Se connecter</h2>
      <form class="registerForm" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div class="emailFlex">
          <input name="email" placeholder="E-Mail" formControlName="loginEmail" class="input registerEmail" required>
          <div class="border passwordBorder"></div>
        </div>
        <div class="passwordFlex">
          <input name="password" type=password placeholder="Mot de Passe" formControlName="loginPassword"
                 class="input registerPassword" required>
          <div class="border passwordBorder"></div>
        </div>
        <button id="stopCancer" class="submitButton" type="submit" [disabled]="!loginForm.valid">Submit</button>
        <div class="error invalidCredentialsError" *ngIf="invalidCredentialsError">Email ou mot de passe invalide</div>
      </form>
    </div>
    <div class="registerFlex">
      <h2 class="loginMenuTitle">S'enregistrer</h2>
      <form class="loginForm" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">

        <div class="emailFlex">
          <input name="email" placeholder="E-Mail" formControlName="registerEmail" class="input registerEmail" required>
          <div class="border passwordBorder"></div>
        </div>

        <div class="passwordFlex">
          <input name="password" type=password placeholder="Mot de Passe" formControlName="registerPassword"
                 class="input registerPassword" required>
          <div class="border passwordBorder"></div>
        </div>

        <div class="confirmPasswordFlex">
          <input name="confirmPassword" type=password placeholder="Confirmation Mot de Passe"
                 formControlName="registerConfirmPassword" class="input registerConfirmPassword" required>
          <div class="border passwordBorder"></div>
        </div>
        <button class="submitButton" type="submit" [disabled]="!registerForm.valid">Submit</button>
        <div class="error confirmPasswordError" *ngIf="confirmPasswordError">Les mots de passe ne correspondent pas</div>
        <div class="error confirmPasswordError">{{registerMessageError}}</div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
