<div id="mainQuestion">
  <p class="questionTitleLabel">
    QUESTION :
  </p>
  <ng-container
    *ngIf="question != undefined && _parent.questionnaire != undefined && _parent.selectedQuestion == question">
    <div class="flexEditQuestionTitle">
      <div class="inputQuestionTitle">
        <p *ngIf="question.name.isModeEdit == false" class="questionLabel">{{question.name.value}}</p>
        <textarea *ngIf="question.name.isModeEdit == true" type="text" [(ngModel)]="question.name.value"></textarea>
      </div>
      <div class="nameButtons">
        <div class="img editButton" *ngIf="question.name.isModeEdit == false" (click)="question.name.isModeEdit = true">
          <img
            src="assets/img/edit.svg">
        </div>
        <div class="img saveButton" *ngIf="question.name.isModeEdit == true" (click)="question.name.isModeEdit = false">
          <img
            src="assets/img/save.svg">
        </div>
        <div class="img deleteButton">
          <img (click)="deleteQuestion()" src="assets/img/delete.svg">
        </div>
      </div>
    </div>
    <div class="flexEditTimer">
      <div class="timerLabel">
        <p class="timerLabelLeft">Timer :</p>
        <p class="timerLabelRight" *ngIf="question.timer.isModeEdit == false">{{question.timer.value}}</p>
        <input class="inputTimer" *ngIf="question.timer.isModeEdit == true" type="number" [(ngModel)]="question.timer.value">
        <p>s</p>
      </div>
      <div class="timerButtons">
        <div class="img editButton" *ngIf="question.timer.isModeEdit == false" (click)="question.timer.isModeEdit = true">
          <img
            src="assets/img/edit.svg">
        </div>
        <div class="img saveButton" *ngIf="question.timer.isModeEdit == true" (click)="question.timer.isModeEdit = false">
          <img
            src="assets/img/save.svg">
        </div>
      </div>
    </div>
    <p class="reponseTitleLabel">
      REPONSES :
    </p>
    <div class="reponsesList">
      <ng-container *ngFor="let proposition of question.propositions">
        <div class="flexEditReponse">
          <div class="propositionDiv">
            <p *ngIf="proposition.isModeEdit == false" class="propositionLabel">{{proposition.label}}</p>
            <textarea *ngIf="proposition.isModeEdit == true" type="text" [(ngModel)]="proposition.label"></textarea>
          </div>
          <div class="propositionButtons">
            <div class="img editButton" *ngIf="proposition.isModeEdit == false" (click)="proposition.isModeEdit = true">
              <img
                src="assets/img/edit.svg">
            </div>
            <div class="img saveButton" *ngIf="proposition.isModeEdit == true" (click)="proposition.isModeEdit = false">
              <img
                src="assets/img/save.svg">
            </div>
          </div>
          <div class="img deleteButton">
            <img (click)="deleteProposition(proposition)" src="assets/img/delete.svg">
          </div>
        </div>
      </ng-container>

      <div (click)="addProposition()" id="z_button" tabindex="0">
        <div id="z_plus">+</div>
      </div>
    </div>
  </ng-container>
</div>
