<div id="mainQuestion">
  <p class="questionTitleLabel">
    QUESTION :
  </p>
  <ng-container
    *ngIf="question != undefined && _parent.questionnaire != undefined && _parent.selectedQuestion == question">
    <div class="flexEditQuestionTitle">
      <div class="inputQuestionTitle">
        <p *ngIf="question.titleModeEdit != true" class="questionLabel">{{question.title}}</p>
        <textarea *ngIf="question.titleModeEdit == true" type="text" maxlength="120" [(ngModel)]="question.title"></textarea>
      </div>
      <div class="nameButtons">
        <div class="img editButton" *ngIf="question.titleModeEdit != true" (click)="question.titleModeEdit = true">
          <img
            src="assets/img/edit.svg">
        </div>
        <div class="img saveButton" *ngIf="question.titleModeEdit == true" (click)="question.titleModeEdit = false">
          <img
            src="assets/img/save.svg">
        </div>
        <div class="img deleteButton">
          <img (click)="deleteQuestion(question)" src="assets/img/delete.svg">
        </div>
      </div>
    </div>
    <div class="flexEditTimer">
      <div class="timerLabel">
        <p class="timerLabelLeft">Timer :</p>
        <p class="timerLabelRight" *ngIf="question.timerModeEdit != true">{{question.timer}}</p>
        <input class="inputTimer" *ngIf="question.timerModeEdit == true" type="number" [(ngModel)]="question.timer">
        <p>s</p>
      </div>
      <div class="timerButtons">
        <div class="img editButton" *ngIf="question.timerModeEdit != true" (click)="question.timerModeEdit = true">
          <img
            src="assets/img/edit.svg">
        </div>
        <div class="img saveButton" *ngIf="question.timerModeEdit == true" (click)="question.timerModeEdit = false">
          <img
            src="assets/img/save.svg">
        </div>
      </div>
    </div>
    <p class="reponseTitleLabel">
      REPONSES :
    </p>
    <div class="reponsesList">
      <ng-container *ngFor="let choice of question.choices">
        <div class="flexEditReponse">
          <div class="propositionDiv">
            <p *ngIf="choice.isModeEdit != true" class="propositionLabel">{{choice.label}}</p>
            <textarea *ngIf="choice.isModeEdit == true" type="text" maxlength="120" [(ngModel)]="choice.title"></textarea>
          </div>
          <div class="img goodProposition" *ngIf="choice.goodChoice == true" (click)="choice.goodProposition = false">
            <img
              src="assets/img/verified.svg">
          </div>
          <div class="img badProposition" *ngIf="choice.goodChoice != true" (click)="choice.goodProposition = true">
            <img
              src="assets/img/verified.svg">
          </div>
          <div class="propositionButtons">
            <div class="img editButton" *ngIf="choice.isModeEdit != true" (click)="choice.isModeEdit = true">
              <img
                src="assets/img/edit.svg">
            </div>
            <div class="img saveButton" *ngIf="choice.isModeEdit == true" (click)="choice.isModeEdit = false">
              <img
                src="assets/img/save.svg">
            </div>
          </div>
          <div class="img deleteButton">
            <img (click)="deleteProposition(choice)" src="assets/img/delete.svg">
          </div>
        </div>
      </ng-container>

      <div (click)="addProposition()" id="z_button" tabindex="0">
        <div id="z_plus">+</div>
      </div>
    </div>
  </ng-container>
</div>
