#mainQuestion {
  padding-left: 10px;
  padding-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

textarea {
  resize: none;
  margin-left: 5%;
  width: 90%;
  height: 100px;
  white-space: normal;
  text-align: justify;
  padding: 5px;
  background-color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: medium;
}

p {
  text-align: justify;
}

.flexEditQuestionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  font-size: large;
}

.flexEditTimer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.flexEditReponse {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.propositionDiv, .nameButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.propositionDiv, .inputQuestionTitle, .timerLabel {
  width: 80%;
  padding-right: 10px;
  display: flex;
}

.img {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: dimgrey;
  margin-left: 10px;
  border-radius: 15%;
}

img {
  width: 20px;
}

#z_plus {
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

#z_button {

  background-color: #6a9ed4;
  height: 50px;
  width: 50px;
  outline: 0;
  display: block;
  margin-top: 10px;
  color: #fff;
  border-radius: 100%;
}

#z_button:hover {
  height: 50px;
  width: 50px;
  animation-name: turnButton;
  cursor: pointer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes turnButton {

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);

  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timerLabel {
  display: flex;
  align-items: center;
}

.questionTitleLabel {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}

.reponseTitleLabel {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 20px;
}

.deleteButton {
  background-color: #d4595f;
}
.editButton{

}
.saveButton{
  background: #89c778;
}

.timerLabelLeft, .timerLabelRight {
  margin-right: 2px;
}
.reponsesList{
  box-sizing: border-box;
  height: 70%;
  //overflow-y: scroll;
  //scrollbar-width: thin;

}
#mainQuestion, question{
  box-sizing: border-box;
  height: 100%;
}
.inputTimer{
  text-align: center;
}
