#mainQuestionList {
  border: black 2px;
  background-color: #c2c2c2;
  box-sizing: border-box;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainQuestion{
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  background: #bda9dd;
}
.question-list :hover{
  background-color: #c0c0c0;
  width: auto;
  height: auto;
}

.question-list {
  height: 80%;
  div:nth-child(even) {
    background-color: #fff;
  }
  overflow-y: scroll;
  scrollbar-width: thin;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}
.fixPaddingPB{
  padding: 8px;
  text-align: justify;

}
.questionnaireLabel {
  text-align: justify;
  width: 100%;
  height: 100%;
}

.questionDiv {
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  background: #ddd;
}

.QuestionListTitle {
  width: auto;
  height: auto;
  margin-top: 15px;
}

#z_plus {
  user-select: none;
  background-color: #6a9ed4;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  border-radius: 100%;
}

#z_button {
  user-select: none;
  height: 50px;
  width: 50px;
  outline: 0;
  display: block;
  margin-top: 10px;
  color: #fff;
  border-radius: 100%;
}

@keyframes turnButton {

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
