<div id="mainQuestion">
  <div class="phoneLabel">Envoyez votre réponse au : {{phoneNumber}}</div><br>

  <span class="questionLabel">{{question.title}}</span>

  <ng-container *ngFor="let choice of question.choices; let i = index">
    <div class="propositionLabel">Réponse <span class="gras">{{i+1}}</span> : {{choice.title}}</div>
  </ng-container>

  <div>
    Temps restant : {{timerValue}}
  </div>

  <button class="nextQuestion" *ngIf="timerValue == 0" (click)="goNextQuestion()">Question suivante</button>
</div>

<div id="answerReceivedDiv">
  <div class="titleReponse">
    Réponses recus = {{nbAnswerReceived}}
  </div>
  <div class="reponseSimple" *ngFor="let answer of question.answers">
    {{answer.answer}}
  </div>
</div>
