<div id="mainQuestion">
  <div class="phoneLabel">Envoyez votre réponse au : {{phoneNumber}}</div><br>

  <span class="questionLabel">{{question.title}}</span>

  <ng-container *ngFor="let choice of question.choices">
    <div class="propositionLabel">Réponse : {{choice.title}}</div>
  </ng-container>

  <div>
    Temps restant : {{timerValue}}
  </div>

  <button *ngIf="timerValue == 0" (click)="goNextQuestion()">Question suivante</button>
</div>

<div id="answerReceivedDiv">
  <div *ngFor="let answer of question.answers">
    {{answer.answer}}
  </div>
</div>
