*{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
#mainQuestion{
  margin-left: 40px;
  margin-top: 40px;
  font-size: 30px;
}
.questionLabel{
  font-weight: bold;
}
.propositionLabel{
  margin: 10px;
}
