*{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
#mainQuestion{
  margin-left: 40px;
  margin-top: 40px;
  font-size: 30px;
}
.questionLabel{
  font-weight: bold;
}
.propositionLabel{
  margin: 10px;
}

.phoneLabel{
  font-weight: bold;
  text-align: center;
}
.reponseSimple{
  margin-top: 10px;
  margin-left: 20px;
}
.titleReponse{
  margin-left: 30px;
}
#answerReceivedDiv{
  margin-top: 10px;
  font-size: x-large;
}
.nextQuestion{
  border: none;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
